@import "../../styles/variables";

.profile-wrapper {
  width: 700px;
  margin: 50px auto 0;
}

.profile-image-wrapper {
  width: 70px;
  height: 70px;
}

.profile-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.profile-lang-wrapper {
  display: flex;
  flex-direction: row;
}

.profile-lang-list-wrapper {
  &:first-child {
    margin-right: 100px;
  }
}

.profile-lang-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
